.contato__campos {
    border: 2px solid $corSecundaria;
    border-radius: 3px;
    box-shadow: none;
    color: $corBg;
    @include sizeTexto;
    margin-bottom: 0.75rem;
    outline: none;
    padding: 0.375rem;
    transition: border-color .6s;
    width: 100%;

    &:focus, &:hover {
        border-color: $corPrincipal;
    }
}

.contato__form #mensagem {
    height: 108px;
    margin-bottom: 0;
    resize: none;
}